{% extends '_layouts/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Atualização de produtos{% endblock title %}

{% block nav %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-default"> 
      <div class="container">
        <a class="navbar-brand" href="#">Empresa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'lista_produtos' %}">Lista de produtos
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'novo_produto' %}">Novo produto</a>
            </li>
            <li class="nav-item">
              <span><b>Olá {{ user.username|capfirst }}</b><br><a class="exit-item" href="{% url 'logout_view' %}"><i class="material-icons">exit_to_app</i></a></span>
            </li>          
          </ul>
        </div>
      </div>
    </nav> 
    
{% endblock nav %}  

{% block conteudo %}

    <div class="jumbotron">

        <h1 class="display-4">Atualização de produto</h1>

        <form method="POST" action="{% url 'novo_produto' %}" enctype="multipart/form-data">
            {% csrf_token %}            
            {{ form|crispy }}  
            <button class="btn btn-success" type="submit">Atualizar</button>
        </form>
    </div>
    
{% endblock conteudo %}


{% block footer %}

      <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Desenvolvido com Django 2.1</p>
      </div>
      <!-- /.container -->
    </footer>  
   
{% endblock footer %} 
    