{% extends '_layouts/base.html' %}

{% load static %}

{% block title %}Lista de produtos cadastrados{% endblock title %}


{% block nav %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-default"> 
      <div class="container">
        <a class="navbar-brand" href="#">Empresa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'lista_produtos' %}">Lista de produtos
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'novo_produto' %}">Novo produto</a>
            </li>
            <li class="nav-item">
              <span><b>Olá {{ user.username|capfirst }}</b><br><a class="exit-item" href="{% url 'logout_view' %}"><i class="material-icons">exit_to_app</i></a></span>
            </li>         
          </ul>
        </div>
      </div>
    </nav>
    
{% endblock nav %}    

{% block conteudo %}

    <br>
    <div class="row">
      <div class="col-12">
          <form class="form-inline">   
              <div class="form-group mx-sm-3 mb-2">                
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do produto...">
              </div>
              <div class="form-group mx-sm-3 mb-2">                
                <input type="text" class="form-control" id="fabricante" name="fabricante" placeholder="Fabricante...">
              </div>
              <button type="submit" class="btn btn-success mb-2">Pesquisar</button>
            </form>
      </div>

    </div>

    <div class="jumbotron">

        <h1 class="display-4">Lista de produtos</h1>
        <br>      

        <table class="table">
            <thead class="thead-default">
            <tr>                
                <th>ID</th>
                <th>Nome do produto</th>
                <th>Fabricante</th>
                <th>Distribuidor</th>
                <th>Preço unitário</th>
                <th class="text-center">Ações</th>
            </tr>
            </thead>
            <tbody> 
        
            {% for produto in produtos %}
                <tr>            
                    <td>{{ produto.id }}</td>            
                    <td>{{ produto.nome }}</td>            
                    <td>{{ produto.fabricante }}</td>            
                    <td>{{ produto.distribuidor }}</td>            
                    <td>{{ produto.preco_unitario }}</td>           
                    <td>
                        <a href="{% url 'atualiza_produto' produto.id %}"><i class="material-icons">create</i></a>
                        <a href="{% url 'exclui_produto' produto.id %}"><i class="material-icons">delete</i></a>
                    </td>            
                </tr>
            {% endfor %}
        
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'novo_produto' %}">Novo produto</a>
    </div>

{% endblock conteudo %}


{% block footer %}

      <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Desenvolvido com Django 2.1</p>
      </div>
      <!-- /.container -->
    </footer>  
   
{% endblock footer %}   
    