{% extends '_layouts/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Seja bem vindo!{% endblock title %}

{% block conteudo %}

    <div class="jumbotron">
        <h1 class="display-4">Olá!</h1>
        
        <div class="row">

            <div class="col-3"></div>
            
            <div class="jumbotron col-6">
                <h1 class="display-4">Seja bem vindo!</h1>
                <p class="lead">Este é um sistema para gestão de produtos</p>
                <hr class="my-4">
        
                {% if user.is_authenticated %}
                    <span>Olá {{ user.username|capfirst }}<a class="exit-item" href="{% url 'logout_view' %}"><i class="material-icons">exit_to_app</i></a></span>
                {% else %}
                    <a class="btn btn-info" href="{% url 'login' %}">Entrar</a>
                {% endif %}        
            </div>
            
            <div class="col-3"></div>
        </div>
    </div>
    
{% endblock conteudo %}
    
    