{% extends '_layouts/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Seja bem vindo!{% endblock title %}

{% block conteudo %}

    <!-- Modal -->    
    <div class="jumbotron">
        <h1 class="display-4">Sistema de Gestão de Produtos</h1>
        
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                </div>
                <form method="post">
                    {% csrf_token %}                    
                
                    <div class="modal-body">
                        {{ form.username|as_crispy_field }}
                        {{ form.password|as_crispy_field }}
                    </div>
                
                    <div class="modal-footer">                
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </form>                
            </div>
        </div>

    </div>    
    
{% endblock conteudo %}
    