{% load static %}
<!DOCTYPE html>
<html lang="pt-br">  
  <head>
    
    <!-- Title -->
    <title>      
      {% block title %}
        Sistema de Gerenciamento de Funcionários
      {% endblock title %}
    </title>

    <!-- Meta-configurações e SEO -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="description" content="Sistema de Gerenciando de Produtos">        
    <meta name="keywords" content="gestão, gerenciamento, produtos, trabalho">
    <meta name="author" content="SOFTTECH">    
    <meta name="robots" content="index, follow">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/brand/favicon.png' %}" rel="icon" type="image/png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="{% static 'vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Bootstrap Argon CSS -->
    <link type="text/css" href="{% static 'css/argon.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- https://demos.creative-tim.com/argon-design-system/docs/getting-started/quick-start.html -->

    <!-- Bloco de Estilos --> 
    {% block styles %}
      
    {% endblock styles %}
      
  </head>

  <body>
    <!-- Navegação -->
    {% block nav %}

    {% endblock nav %}      

    <!-- Bloco de conteúdo --> 
    <main class="container">
      {% block conteudo %}
        
      {% endblock conteudo %}
    </main>  

    <!-- Bloco do rodapé -->
    {% block footer %}
      
    {% endblock footer %}      
     
    <!-- Bootstrap Argon JavaScript -->
    <!-- Core -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

    <!-- Optional plugins -->
    <!-- <script src="{% static 'vendor/PLUGIN_FOLDER/PLUGIN_SCRIPT.js' %}"></script> -->

    <!-- Theme JS -->
    <script src="{% static 'js/argon.js' %}"></script>

    <!-- Bloco de scripts JavaScript customizados -->
    {% block scripts %}

    {% endblock %}
  </body>
</html>
